<section id="accountView" class="l-content hide">
  <div class="row">
    <div class="grid-lg-12">
      <h4>Account</h4>
      <form action="#sandbox">
        <div class="row">
          <div class="large-12 columns">
            <label for="">Username
              <input type="text" name="username" placeholder="username">
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label for="">API Key
              <input type="text" name="apikey" placeholder="XXXXXXXX" aria-describedby="apiKeyHelp">
            </label>
            <p id="apiKeyHelp"><a href="http://docs.cartodb.com/cartodb-platform/sql-api.html" target="_blank">How to get your API Key</a></small>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <button class="button small" type="submit">Start</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
