<div class="row">
  <div class="grid-lg-12">
    {{#if username}}
      <h2>{{username}} <span class="btn-inline" id="changeUsername">change</span></h2>
    {{else}}
      <h2>Introduce your CartoDB account</h2>
      <p>To start, lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

      {{#if error}}
        <p>{{error}}</p>
      {{/if}}
      <form autocomplete="off">
        <div class="row">
          <div class="grid-lg-12">
            <div class="username"></div>
          </div>
        </div>
        <div class="row">
          <div class="grid-lg-12">
            <button class="button small" type="submit">Start</button>
          </div>
        </div>
      </form>
    {{/if}}

  </div>
</div>
