{{#if error}}
<p>{{{error}}}</p>
{{else}}
<table>
  <thead>
    <tr>
      {{#each data.columns}}
        <th>{{name}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each data.rows}}
      <tr>
        {{#each this}}
          <td>{{this}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
{{/if}}
