{{#if tables}}
  <div class="row">
    <div class="grid-lg-12">
      <h2>Get your data</h2>
      <form action="">

        <div class="row">
          <div class="grid-lg-12">
            <label for="query">Introduce a SQL query
              <textarea name="query" id="query" class="is-code"></textarea>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="grid-lg-12">
            <label for="table">or select a table
              <select name="table" id="table" class="table-input">
                <option selected>---</option>
                {{#each tables}}
                  <option value="{{cdb_usertables}}">{{cdb_usertables}}</option>
                {{/each}}
              </select>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="grid-lg-12">
            <label for="chart">Type of chart
              <select name="chart" id="chart">
                <option value="scatter">Scatter</option>
                <option value="pie">Pie</option>
                <option value="category">By category</option>
                <option value="timeline">Timeline</option>
              </select>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="grid-lg-12">
            <div id="xColumn"></div>
          </div>
        </div>

        <div class="row">
          <div class="grid-lg-12">
            <div id="yColumn"></div>
          </div>
        </div>

        <div class="row">
          <div class="grid-lg-12">
            <button class="button small" id="queryBtn" type="submit" disabled>Render Chart</button>
          </div>
        </div>

      </form>
    </div>
  </div>
{{/if}}
