body
  -webkit-font-smoothing antialiased
  color $text-color-1
  font-family $font-family
  font-size 1em
  line-height 1.4

h1
  font-size 1.8em

h2
  font-size 1.4em

h3
  font-size 1.2em

h4
  font-size 1.05em
