clearfix()
  &:after,
  &:before
    content ''
    display table
  &:after
    clear both

rem($px, $base = 16px)
  unit($px / $base, 'rem')

calculewidth(col)
  width (100 / $grid-columns) * col * 1%
