// Fonts
$font-family = 'Raleway', Helvetica, Arial, sans-serif

// Layout
$grid-gutter = 25px
$grid-columns = 12

$sm-screen = 320px
$md-screen = 720px
$lg-screen = 1200px

$margin-small = 22px
$margin-big = 46px

// Colors
$white = #fff
$gray-light = #e9e9e9
$gray = #565E68
$gray-dark = #282828
$blue = #33c3f0

// Theme
$bg-color-1 = $white
$bg-color-2 = $blue
$bg-color-3 = $gray

$border-color-1 = $gray-light
$border-color-2 = $blue

$text-color-1 = $gray-dark
$text-color-2 = $gray
$text-color-3 = $white
$text-color-4 = $blue
