// Fonts
$font-family = 'Akzidenz', Helvetica, Arial, sans-serif

// Layout
$grid-gutter = 18px
$grid-columns = 12

$sm-screen = 320px
$md-screen = 720px
$lg-screen = 1200px

$margin-small = 14px
$margin-big = 30px

// Colors
$white = #fff
$gray-light = #e9e9e9
$gray = #565E68
$gray-dark = #282828
$blue = #33c3f0
$red = #d33628
$green = #48bf52
$yellow = #ccc212
$purple = #7d17a5
$brown = #704d26
$alto = #d8d8d8
$wildsand = #f7f7f7
$wildsandalt = #f5f4f3
$silver = #ccc
$mineshaft = #222
$malachite = #16C49C
$feijoa = #64D1B8
$flamingo = #EF4646
$antracita = #555
$majenta = #E82558

// Theme
$bg-color-1 = $white
$bg-color-2 = $blue
$bg-color-3 = $gray
$bg-color-4 = $mineshaft
$bg-color-5 = $malachite
$bg-color-6 = $feijoa
$bg-color-7 = $antracita
$bg-color-8 = $silver

$border-color-1 = $gray-light
$border-color-2 = $blue
$border-color-3 = $red
$border-color-4 = $feijoa
$border-color-5 = $antracita

$text-color-1 = $gray-dark
$text-color-2 = $gray
$text-color-3 = $white
$text-color-4 = $blue
$text-color-5 = $feijoa
$text-color-6 = $mineshaft
$text-color-7 = $majenta
