.row
  box-sizing border-box
  margin-bottom 0
  margin-top 0
  margin-left rem($grid-gutter) * -1
  margin-right rem($grid-gutter) * -1
  padding 0 rem($grid-gutter)
  clearfix()

  .row
    padding 0

$grid
  box-sizing border-box
  display block
  float left
  min-height rem(1px)
  padding 0 rem($grid-gutter)
  position relative

@media screen and (min-width $sm-screen)
  for col in 1..$grid-columns
    .grid-sm-{col}
      @extends $grid
      compute-width(col)

@media screen and (min-width $md-screen)
  for col in 1..$grid-columns
    .grid-md-{col}
      @extends $grid
      compute-width(col)

@media screen and (min-width $lg-screen)
  for col in 1..$grid-columns
    .grid-lg-{col}
      @extends $grid
      compute-width(col)
