input(type="hidden", name="_csrf", value=csrfToken)
.form-row
  input(type="email", name="email", required, placeholder="Type your email")
.form-row
  input(type="password", name="password", required, placeholder="Type your password")
.form-actions
  button(type="submit") Enter
