.m-toolbar

  ul
    margin 0
    padding 0

  li
    float left

  a
    display block
    padding rem($grid-gutter)
    font-size .85rem
    font-weight 500
    letter-spacing 0.1em
    line-height rem($grid-gutter + 4)
    cursor pointer
    color $text-color-5
    text-decoration none
    text-transform uppercase

  &.pull-right
    float right
