.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"]
  display inline-block
  background $bg-color-2
  border 1px solid $border-color-2
  border-radius rem(4px)
  box-sizing border-box
  color $text-color-3
  height rem(34px)
  cursor pointer
  font-size rem(11px)
  font-weight 600
  line-height rem(34px)
  padding 0 rem(30px)
  text-decoration none
  text-transform uppercase
  white-space nowrap
  transition all .3s ease

  &:hover
    background-color darken($bg-color-2, 10)
