#chartView

  .cat-0
    fill $blue
  .cat-1
    fill $red
  .cat-2
    fill $green
  .cat-3
    fill $yellow
  .cat-4
    fill $purple
  .cat-5
    fill $brown

  .axis

    text
      fill $text-color-2
      font-size .75rem

    path
      fill none
      shape-rendering crispEdges

    &.y
      path
        display none

  .legend
    text
      fill $text-color-2
      font-size .75rem

  .ruler
    line
      stroke rgba($gray-ligh, .5)
      shape-rendering crispEdges

  .bar
    shape-rendering crispEdges

