label
  font-weight 500
  display block
  margin-bottom $margin-small

input[type="text"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="email"],
input[type="url"],
select,
textarea
  border 1px solid $border-color-1
  border-radius 0
  box-shadow none
  box-sizing border-box
  display block
  font-family $font-family
  font-size 1rem
  font-weight 300
  padding rem(6px) rem(12px)
  border none
  background-color $bg-color-7
  color $text-color-3
  width 100%
  -webkit-appearance none
  -moz-appearance none
  -ms-appearance none
  -o-appearance none
  appearance none
  transition border-color .3s ease

  &[disabled]
    background-color rgba($bg-color-7, .3)
    border-color rgba($bg-color-7, .3)

  &:focus
    border-color $border-color-2
    outline 0
    outline-offset 0

  #modal &
    background-color: $bg-color-1
    border 1px solid $bg-color-8
    color $text-color-6

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
select
  height rem(34px)
