<label for="table">or select a table
  {{#if error}}<br />{{error}}{{/if}}
  <select name="table" id="table" class="table-input">
    <option selected disabled="disabled">---</option>
    {{#each options}}
    <option value="{{{name}}}" {{#ifCond ../value name }}
    selected="selected"{{/ifCond}}>{{{name}}}</option>
    {{/each}}
  </select>
</label>
