.is-clearfix
  clearfix()

.is-code
  font-family Monaco, Menlo, monospace

.is-hidden
  display none

.is-error
  color $text-color-7

.is-loading:after
  content ''
  position absolute
  width rem(40px)
  height rem(40px)
  top 50%
  margin-top rem(-20px)
  left 50%
  margin-left rem(-20px)
  border-radius 50%
  border-top 4px solid $border-color-4
  border-bottom 4px solid $border-color-5
  border-left 4px solid $border-color-5
  border-right 4px solid $border-color-5
  animation circle-motion 1s linear infinite

@keyframes circle-motion
  from
    transform rotate(0deg)
  to
    transform rotate(359deg)

