doctype html
html
  body
    if message && message.length > 0
      div= message
    //- for message in flash
    //-   a.alert(class='alert-' + message.type)
    //-     p= message.message
    block main
